<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">

<p>I am a computational biologist living in Tallahassee, Florida. Born in New York, I spent most of my childhood in Fort Lauderdale, Florida, where I remained until my undergraduate studies. I earned my Bachelor's and PhD at Florida State University (FSU), and have been running a bioinformatics core facility at FSU since then.</p>


</div><!--//summary-->
</section><!--//section-->
